.container {
  display:flex;
  
}

#result{
font-family: sans-serif;
font-style: oblique;
font-weight: bold;
  
  
}

#score{
font-family: sans-serif;
font-style: oblique;
font-weight: bold;
color:darkgreen;
  
}

#winner{
font-family: sans-serif;
font-style: oblique;
font-weight: bold;
color:blue;
  
}